<section>
  <h1>About Stock Kings</h1>
  <h2>What is it?</h2>
  <p>
    Stock Kings is a web app that simulates the stock market. Users are able to buy and sell stock, as well as monitor their performance. Users will also be able to see how they stand against others.
  </p>
  <h2>How to play</h2>
  <p>First, users must sign up via Google. Once logged in, users will be able to navigate between their home page and a trading page. On the user's home page, users will be able to see the current stocks they own and purchase price information. On the trading page, users will be able to buy and sell stock and their final balance for the day will be tallied.</p>
</section>
