$page-background-color: hsl(226, 96%, 13%);
$font-color: hsl(224, 4%, 87%);
$font-stack: 'Roboto Condensed', sans-serif;
$border-color: hsl(211, 0%, 30%);

@keyframes fadeIn {
  from {
    opacity: 0;

  } to {
    opacity: 1;
  }
}

body {
  #greeting {
    align-items: center;
    display: flex;
    height: 500px;
    justify-content: center;
    overflow: hidden;
  }
  background-color: $page-background-color;
  #main{
    animation: fadeIn;

    opacity: 0;
    animation: fadeIn ease-in;

    animation-fill-mode: forwards;

    animation-duration: 1s;

    animation-delay: 3s;
  }
  .container {
    h1 {
      color: $font-color;
      font-family: $font-stack;
    }
    h2 {
      color: $font-color;
      font-family: $font-stack;
    }
    h3 {
      color: $font-color;
      font-family: $font-stack;
    }
    p {
      color: $font-color;
      font-family: $font-stack;
    }
    nav {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      button {
        background-color: $page-background-color;
        border: none;
        font-size: 16px;
        font-family: $font-stack;
        color: $font-color;
      }
    }
    .ticker {
      border: 1px solid #000000;
      height: 30px;
      background-color: #000000;
      white-space: nowrap;
      overflow: hidden;
      div {
        color: hsl(224, 4%, 87%);
        font-family: $font-stack;
        margin-right: 40px;
        white-space: nowrap;
        display: inline;
        width: auto;
      }
    }
    .tagline {
      display: flex;
      justify-content: center;
      font-size: 22px;
      margin-top: 25px;
      text-align: justify;
    }
    .signin {
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 2px solid $border-color;
      border-radius: 5px;
      height: 300px;
      margin-bottom: 10px;
    }
    .leaderboard {
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 2px solid $border-color;
      border-radius: 5px;
      height: 300px;
      margin-bottom: 10px;
      table{
        border: none;
      }
    }
    #about {
      display: none;
    }
    #research {
      display: none;
    }
    #standings {
      display: none;
    }
    #support {
      display: none;
    }
    #dataButtonsContainer{
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
    }
    table{
      display: flex;
      justify-content: center;
      border: 2px solid $border-color;
      border-radius: 5px;
      th{
        color: $font-color;
        font-family: $font-stack;
        font-size: 14px;
        font-weight: bold;
        padding: 5px;
        text-decoration: underline;
        text-align: center;
      }
      td{
        color: $font-color;
        font-family: $font-stack;
        text-align: center;
      }
    }
    .stockSearch{
      display: flex;
      flex-direction: column;
      label{
        color: $font-color;
        font-family: $font-stack;
      }
      input{
        width: 50%;
      }
    }
    .quantity{
      label{
        color: $font-color;
        font-family: $font-stack;
      }
      input{
        width: 8%;
      }
    }
    footer {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 10px;
    }
  }
}
